.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;

    gap: 30px;
}

.room .connect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room .connect input {
    width: 100px
}